@import url('https://fonts.cdnfonts.com/css/century-gothic');


.form {
    background-color: #ffffff;
}

.form h1, h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    color: #636364;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #dfdbdbe1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.content {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #9095a6;
    width: 400px;
}

.field {
    margin-bottom: 6px;
}

.field label {
    display: block;
    color: #171718;
    font-size: 13px;
}

.field input {
    margin-top: 5px;
    border: solid 2px #cdd1d9;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.field input:focus {
    outline: none;
}

.field.error input {
    border-color: #dc3545;
    background-image: url(./images/error-icon.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}

.field.success input {
    border-color: #28a745;
    background-image: url(./images/success-icon.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}

.field small {
    color: #dc3545;
}

.butn {
    margin-top: 25px;
    width: 100%;
    background-color: #635EF2;
    /*border-color: #312F73;*/
    color: #ffffff;
    border: 3px solid #312F73;
    padding: 2px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.butn:focus {
    outline: none;
}

.butn:hover {
    background: #312F73;
    cursor: pointer;
}